* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  background-color: #E5E5E5;
}

body::before {
  content: '';
  background: #535971;
  width: 100%;
  height: 436px;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;


}

.page {
  width:750px;
  margin: 140px auto 140px;
  
}

header {
  width: 417px;
  margin-bottom: 56px;
}

header h1 {
  color: #FFFFFF;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

header p {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

form {
  background: white;
  margin: 60px auto 0;

 
  min-height: 400px;

  border-radius: 20px 20px 0px 0px;
  padding: 64px;
}

fieldset {
  border: none;

}

fieldset legend {
  color: #535971;
  font-family: 'Staatliches', cursive;

  font-weight: 400;
  font-size: 24px;
  line-height: 34px;


  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;

}

.input-wrapper input  {
  font-family: 'Poppins', sans-serif;

  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px; 

  width: auto;
  height: 56px;

  margin-bottom: 30px;
  padding: 0 24px;
}
.input-wrapper label {
  color: #4E4958 ;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;  

  margin-bottom: 8px;
}


.names {
  display: flex;
  margin-top: 36px;
  margin-bottom: 9px;
  gap: 22px;
}

.names .input-wrapper input  {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px; 

  width: 300px;
  height: 56px;

  margin-bottom: 16px;
  padding: 0 24px;
}

.login {
  margin-bottom: 9px;
}

.names2  {
  margin-top: 36px;
  margin-bottom: 9px;
}

.login .input-wrapper input,
.names2 .input-wrapper input 
{
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px; 

  width: 622px;
  height: 56px;

  margin-bottom: 30px;
  padding: 0 24px;
}

.input-wrapper span {
  color: #b7b2c1;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  margin-left: 4px ;
}

.input-wrapper span:hover  {
  color: #807d87;
}

h2 {
  color: #535971;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  margin-top: 32px;
}

h3 {
  color: #535971;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}

.col-3 {
  display: flex;
  gap: 10px;
}
.col-3 > div:nth-child(1) {
  width: 100%;
  margin-right: 32px;
}

.col-4 {
  display: flex;
  gap: 10px;
}
.col-4 > div:nth-child(1) {
  width: 100%;
  margin-right: 32px;
}

footer {
  background: #535971;

  height: 160px;
  display: flex;
  flex-direction: column;

  padding: 52px 71px;

  border-radius: 0 0 20px 20px;
}

footer .button {
  background: #FF5374; 

  color: #FFFFFF;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  height: 56px;
  padding: 15px 40px;
  border-radius: 20PX;

  border: none;
}

footer .button:hover {
  background: #f33b60; 
}

.input:invalid {
  border: 1px solid red;
}